body {
  font-family:cursive;
  font-size: 16px;
  color: #D7DBDD;
  background-color: #34495E;
}

/* Header */
#logo {
  width: 100px;
  height: 100px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand a {
  color: #34495E;
}

.navbar-nav .nav-item .nav-link {
    color: black;
}

.navbar-light .navbar-nav .active>.nav-link {
  border-radius: 6px;
  font-size: 1.2em;
  color: #D7DBDD;
  background-color: #34495E;
}

#nav-list {
  text-align: center;
}

#nav-list a:hover {
  border-radius: 6px;
  font-size: 1.2em;
  color: #D7DBDD;
  background-color:#34495E;
}

#phone {
  color: #34495E;
  text-align: right;
}

#call-btn a {
  color: #34495E;
  width: 100%;
  border-style: none;
  font-size: 1.2em;
}

#call-btn a:hover {
  font-size: 1.2em;
  color: black;
}

#deliver {
  text-align: center;
  font-size: .8em;
  padding-top: 2px;
}

/* FOOTER */
footer {
  color: #34495E;
}

footer section:nth-child(5) {
    font-style: italic;
}

hr {
  width: 50%;
}

section span {
  font-weight: bold;
  font-size: 1.2em;
}
